
## Profesores 
<br/>
<div class="row">
    <div class="col-sm-6 clearfix">
        <img src="http://eisc.univalle.edu.co/images/Raul-Ernesto-Gutierrez-20171116.png" class="img-responsive" width="25%" style="float: left" />
        <h4>Raul Gutierrez de Piñeres</h4>
        <i>Profesor asistente
        <br>Director del Programa Ingeniería de Sistemas
            <br><a class="posts-list-name bubble-float-left" href="mailto:raul.gutierrez@correounivalle.edu.co">raul.gutierrez@correounivalle.edu.co</a>
        </i>
        <ul class="ulli" style="overflow: hidden">
            <li>Master UNIVERSIDAD INDUSTRIAL DE SANTANDER UIS</li>
            <li>PhD. Universidad del Valle</li>
        </ul>
    </div>
</div>

## Estudiantes de Maestria
<br/>
<div class="row">
    <div class="col-sm-6 clearfix">
        <img src="http://www.allanlab.org/images/teampic/rock.jpg" class="img-responsive" width="25%" style="float: left" />
        <h4>Este Puedes ser Tú</h4>
        <i>Para Mayor infrmación
            <br><a class="posts-list-name bubble-float-left" href="mailto:investigacion.pln@correounivalle.edu.co">investigacion.pln@correounivalle.edu.co</a>
        </i>
        <ul class="ulli" style="overflow: hidden">
        </ul>
    </div>
</div>

## Estudiantes de Pregrado
<br/>
<div class="row">
    <div class="col-sm-6 clearfix">
        <img src="https://avatars2.githubusercontent.com/u/10181583?s=460&v=3" class="img-responsive" width="25%" style="float: left" />
        <h4>Orlando Montenegro</h4>
        <i>Estudiante Ingenieria de Sistemas
            <br>Universidad del Valle
            <br>url: <a class="posts-list-name bubble-float-left" href="https://orlandc.github.io" target="_blank">https://orlandc.github.io</a>
            <br><a class="posts-list-name bubble-float-left" href="mailto:orlando.montenegro@correounivalle.edu.co">orlando.montenegro@correounivalle.edu.co</a>
        </i>
        <ul class="ulli" style="overflow: hidden">
            <li>Tecnólogo Sistemas de Informacion Universidad del Valle</li>
        </ul>
    </div>
    <div class="col-sm-6 clearfix">
        <img src="http://www.allanlab.org/images/teampic/rock.jpg" class="img-responsive" width="25%" style="float: left" />
        <h4>Este Puedes ser Tú</h4>
        <i>Para Mayor infrmación
            <br><a class="posts-list-name bubble-float-left" href="mailto:investigacion.pln@correounivalle.edu.co">investigacion.pln@correounivalle.edu.co</a>
        </i>
        <ul class="ulli" style="overflow: hidden">
        </ul>
    </div>
</div>

